<h1>Guest:</h1>
<p><%= @guest.name %></p>
<h2>Rooms stayed in: </h2>
<p><% @guest.rooms.each do |room| %>
  <p>Room Suite: <%= room.suite %></p>
  <p>Room Rate: <%= room.rate %></p>
  <p>Hotel: <%= room.hotel.name %>
<% end %>
<div id="add_room">
<%= form_with url: "/guests/#{@guest.id}", method: :post do |f| %>
  <%= f.label :room_id, "Add Room:" %>
  <%= f.text_field :room_id %>
  <%= f.submit "Submit" %>
<% end %>
</div>