<h3><%= @guest.name %></h3>
<p>rooms:</p>
<ul>
  <% @guest.rooms.each do |room| %>
  <p></p>
  <li><%= room.suite %></li>
  <li><%= room.rate %>$ per night</li>
  <li><%= room.hotel.name %> hotel</li>
  <% end %>
</ul>

<%= form_with url: "/guests/#{@guest.id}", method: :patch, id: 'Add Room' do |f| %>
  <h3>Select room:</h3>
  <%= f.label :room_id %>
  <%= f.text_area :room_id%>
  <p>Submit this room: <%= f.submit "Submit"%></p>
  </form>
<% end %>
