<h1>Guest Name: <%= @guest.name %></h1>
<% @guest.rooms.each do |room| %>
  <p>Suite: <%= room.suite %></p>
  <p>Nightly Rate: <%= room.rate %></p>
  <p>Hotel: <%= room.hotel.name %></p>
<% end %>
<div class="new_room">
  <%= form_with url: "/guest_rooms/#{@guest.id}", method: :post, local: true do |f| %>
    <%= f.label :room_id, "Room id" %>
    <%= f.text_field :room_id %>
    <%= f.submit %>
  <% end %>
</div>