<h1>Guest Show Page</h1>
<section id="guest_info">
<p><%= @guest.name %></p>
<p><%= @guest.nights %></p>
<% @guest.rooms.each do |room| %>
    <%= room.suite %>
    <br>
    <%= room.rate %>
    <br>
    <%= room.hotel.name %>
    <br>
<% end %>
</section>
<section id="room_form">
<%= form_with url: "/guest/#{@guest.id}", method: :post, local: true do |form| %>
    <br>
    <%= form.label :room_id %>
    <%= form.text_field :room_id %>
    <%= form.submit "Add Room" %>
<% end %>