<h1><%= @guest.name %>'s List of Rooms</h1>

<% @guest.rooms.each do |room| %>
  <h3><%= room.hotel.name %></h3>
  <p>Rate: <%= room.rate %></p>
  <p>Suite: <%= room.suite%></p>
<% end %>
<br>
<div id="add_room"><br>
  <%= form_with url: "/guests/#{@guest.id}", method: :create, local: true do |f| %>
    <%= f.label :add_room_id %>
    <%= f.number_field :add_room_id %>
    <%= f.submit "Submit" %>
  <% end %>
</div>